* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f5;
    justify-content: center;
    align-items: center;
}

/* ===== Toast message ===== */
#toast{
    position: fixed;
    top: 32px;
    right: 32px;
    overflow: hidden;
    z-index: 9999;
}

.toast{
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0px 1px 4px #ccc;
    border-radius: 4px;
    border-left: solid 4px;
    padding: 20px 0;
    min-width: 400px;
    max-width: 500px;
    transition: all linear .3s;
}

@keyframes slideInFromLeft{
    from {
        transform: translateX(calc(100% + 32px));
        opacity: 0;
    }
    to {
        transform: translateX(calc(0));
        opacity: 1;
    }
}

@keyframes fadeOut{
    to {
        opacity: 0;
    }
}
.toast--success{
    border-color: rgb(0, 209, 0);
}

.toast--success .toast__icon{
    color:  rgb(0, 209, 0);
}


.toast--warning{
    border-color: rgb(226, 222, 0);
}

.toast--warning .toast__icon{
    color: rgb(226, 222, 0);
}


.toast--info{
    border-color: rgb(30, 0, 161);
}

.toast--info .toast__icon{
    color: rgb(30, 0, 161);
}


.toast--error{
    border-color: rgb(235, 0, 0);
}

.toast--error .toast__icon{
    color: rgb(235, 0, 0);
}



.toast + .toast {
    margin-top: 20px;
}

.toast__icon{
    font-size: 24px;
}

.toast__icon,
.toast__close{
    padding: 0 16px;
}

.toast__body{
    flex-grow: 1;
}

.toast__title{
    font-size: 16px;
    font-weight: 700;
    color: #333;
}

.toast__msg{
    font-size: 16px;
    color: #888;
    margin-top: 6px;
    line-height: 1.6;
}

.toast__close{
    font-size: 20px;
    color: rgba(0 , 0, 0, 0.32);
    cursor: pointer;
}
.toast__close:hover{
    color: rgba(0 , 0, 0, 0.2);
}

/* ==== Control ==== */
.control{
    display: flex;
    background-color: #fff;
    padding: 20px 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px #ccc;
    flex-direction: column;
    align-items: center;
}

.buttonlist{
    display: flex;
}
.control span{
    text-transform: uppercase;
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: 900;
    font-family: monospace;
}
.control .control__btn{
    box-shadow: 0px 1px 4px #ccc;
    border-radius: 32px;
    padding: 20px 0;
    min-width: 140px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}

.control__btn + .control__btn{
    margin-left: 20px;
}

.control__btn--success{
    background:rgb(0, 209, 0);
}

.control__btn--info{
    background:rgb(30, 0, 161);
}

.control__btn--error{
    background:rgb(235, 0, 0);
}

.control__btn--warning{
    background:rgb(226, 222, 0);
}



